<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- The data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/librarydb" />
		<property name="username" value="postgres" />
		<property name="password" value="admin" />
	</bean>

	<!-- The session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="de.nordakademie.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>


	<!-- The transaction manager -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- The advice -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!-- The pointcut definition -->
	<aop:config>
		<aop:pointcut id="serviceMethods"
			expression="execution(* de.nordakademie.model.manager.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>


	<bean id="customerDAO" class="de.nordakademie.dao.CustomerDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="publicationDAO" class="de.nordakademie.dao.PublicationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="lendDAO" class="de.nordakademie.dao.LendDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="keywordDAO" class="de.nordakademie.dao.KeywordDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="kindOfPublicationDAO" class="de.nordakademie.dao.KindOfPublicationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="authorDAO" class="de.nordakademie.dao.AuthorDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="lendManager" class="de.nordakademie.model.manager.LendManager">
		<property name="lendDAO" ref="lendDAO" />
		<property name="publicationManager" ref="publicationManager" />
		<property name="customerManager" ref="customerManager" />
	</bean>

	<bean id="customerManager" class="de.nordakademie.model.manager.CustomerManager">
		<property name="customerDAO" ref="customerDAO" />
		<property name="lendManager" ref="lendManager" />
	</bean>

	<bean id="publicationManager" class="de.nordakademie.model.manager.PublicationManager">
		<property name="publicationDAO" ref="publicationDAO" />
		<property name="kindOfPublicationDAO" ref="kindOfPublicationDAO" />
		<property name="authorDAO" ref="authorDAO" />
		<property name="keywordDAO" ref="keywordDAO" />
		<property name="lendManager" ref="lendManager" />
	</bean>

	<bean id="keywordManager" class="de.nordakademie.model.manager.KeywordManager">
		<property name="keywordDAO" ref="keywordDAO" />
		<property name="publicationDAO" ref="publicationDAO" />
	</bean>

	<bean id="kindOfPublicationManager" class="de.nordakademie.model.manager.KindOfPublicationManager">
		<property name="kindOfPublicationDAO" ref="kindOfPublicationDAO" />
		<property name="publicationDAO" ref="publicationDAO" />
	</bean>

	<bean id="authorManager" class="de.nordakademie.model.manager.AuthorManager">
		<property name="authorDAO" ref="authorDAO" />
		<property name="publicationDAO" ref="publicationDAO" />
	</bean>


</beans>
